@{
    ViewData["Title"] = "NotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">

        <h1 style="text-align:center; color:red"> Not Found !!!</h1>
   

    <a asp-action="Index" asp-controller="Product" asp-route-Id="" class="alert-link">Back to Products</a>
</div>


